<p id="notice"><%= notice %></p>
<body class="fondo">

<div class="field">
      <%= image_tag @service.cover.url(:medium)%> 
</div>

<p>
  <strong>Tipo:</strong>
  <%= @service.tipo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @service.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @service.descripcion %>
</p>



<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Volver', services_path %>
