<body class="fondo">
<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <h3>Completa correctamente los siguientes campos:</h3>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class: "form-control", style: "width:200px" %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido, class: "form-control", style: "width:200px" %>
  </div>
 

    <div><%= f.check_box :sexo, {}, true %> <%= f.label :sexo, "Femenino" %> </div>
    <div><%= f.check_box :sexo, {}, false %> <%= f.label :sexo, "Masculino" %> </div>

     <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control", style: "width:200px" %>
  </div>
  
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, class: "form-control", style: "width:200px" %>
  </div>
 
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion, class: "form-control", style: "width:200px" %>
  </div>

 
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_field :fecha, start_year: 2016, end_year: 2017, class: "form-control", style: "width:200px" %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, class: "form-control", style: "width:200px" %>
  </div>

  <div class="field">
    <%= f.label :hora %><br>
    <%= f.time_select :hora %>
  </div>
  <div class="actions">
    <%= f.submit "Reservar", class: "btn btn-primary" %>
  </div>
<% end %>