<body class="fondo">
<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <h3>Completa correctamente los siguientes campos:</h3>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class: "form-control", style: "width:200px" %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido, class: "form-control", style: "width:200px" %>
  </div>
 
<div><%= f.radio_button :sexo, false %> <%= f.label :sexo, "Masculino" %></div>
<div><%= f.radio_button :sexo, true %> <%= f.label :sexo, "Femenino" %></div>


     <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control", style: "width:200px" %>
  </div>
  
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, class: "form-control", style: "width:200px" %>
  </div>
 
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion, class: "form-control", style: "width:200px" %>
  </div>

   <div class="field">
    <%= f.label :service_tipo, "Servicio" %><br>
    <%= collection_select( :service, :service_tipo, Service.all, :tipo, :tipo, { :multiple => false }, { :class => "my-custom-class"}) %>
 
  <div class="field">
    <%= f.label :fecha %><br>
    <input  id="fecha" type='date' min='2016-10-03' max='2016-10-31' class="form-control" name="fecha[fecha]",style:"width: 200px">
      
    </input>
  
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, class: "form-control", style: "width:200px" %>
  </div>

  <div class="field">
    <%= f.label :hora %><br>
    <%= f.time_select :hora %>
  </div>
  <div class="actions">
    <%= f.submit "Reservar", class: "btn btn-primary" %>
  </div>
<% end %>