<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div style="width:50%;margin:0 auto;">
  <h1>Nuestros Productos</h1>

<div class="table">
    <table class="table table-hover text-center">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Categoria<th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.descripcion %></td>
         <td><%= product.category.descripcion %></td>
        <td><%= image_tag product.cover.url(:thumb)%></td>
        <td><%= link_to 'Saber más', product, class:"btn btn-success" %></td>
        <% if current_user %>
        <td><%= link_to 'Editar', edit_product_path(product), class:"btn btn-success" %></td>
        <td><%= link_to 'Eliminar', product, class:"btn btn-success", method: :delete, data: { confirm: '¿Está seguro/a?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
<%= link_to 'Nuevo producto', new_product_path, class:"btn btn-success" %>
<%end%>
