<%= form_for(@detail) do |f| %>
<body class="fondo">
  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :GastoMensual %><br>
    <%= f.number_field :monto %>
  </div>
   <div class="field">
    <%= f.label :IngresoMensual %><br>
    <%= f.number_field :ingreso %>
  </div>

 <div class="field">
    <%= f.label :month_id, "Mes" %><br>
    <%= collection_select( :month, :month_id, Month.all, :id, :mes, { :multiple => false }, { :class => "my-custom-class"}) %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit "Ingresar Detalle" %>
  </div>
<% end %>
