<p id="notice"><%= notice %></p>
<body class="fondo">

<p>
  <strong>GastoMensual:</strong>
  <%= @detail.monto %>
</p>

<p>
  <strong>IngresoMensual:</strong>
  <%= @detail.ingreso %>
</p>
<p>
  <strong>Total:</strong>
  <%= @detail.monto - @detail.ingreso%>
</p> 
<p>
  <strong>Mes:</strong>
  <%= @detail.month %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @detail.descripcion %>
</p>

<%= link_to 'Editar', edit_detail_path(@detail) %> |
<%= link_to 'Volver', details_path %>
